<footer class="fixed-bottom pt-3">
    <div style="display: flex; gap: 12px ; justify-content: center;">
        <a href="https://wa.me/6281234567890" target="_blank">
            <i class="fab fa-whatsapp"></i>
        </a>
        <a href="https://www.instagram.com/username" target="_blank">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/in/username" target="_blank">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://www.facebook.com/username" target="_blank">
            <i class="fab fa-facebook"></i>
        </a>
        <a href="https://twitter.com/username" target="_blank">
            <i class="fab fa-twitter"></i>
        </a>
    </div>
    <p>&copy; 2025 Verdevelvet. All rights reserved.</p>
</footer>